:root {
  --dark: #113946;
  --dark-brown: #bca37f;
  --light-brown: #ead7bb;
  --cream: #fff2d8;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--cream);
}

header {
  background-color: var(--dark);
  display: block;
}

header h2 {
  display: inline-block;
  color: var(--light-brown);
  padding: 10px;
  align-items: center;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
  color: var(--dark-brown);
}

header nav ul li {
  display: inline-block;
  padding: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--dark-brown);
}

header nav ul li a:visited {
  text-decoration: none;
}
main {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.about-me-section {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-me-section img {
  width: 200px;
}

.work-section {
  padding-top: 40px;
}

.work-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-card {
  flex: 0 0 75%;
  border: solid var(--light-brown);
}

.project-card img {
  height: 100px;
  width: 200px;
}

.project-card:hover {
  border: solid var(--dark);
  cursor: pointer;
}

.project-card h4 a {
  text-decoration: none;
}

#project1 {
  display: flex;
  width: 50%;
  justify-content: center;
  padding: 0;
}

.all-projects {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-section {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: var(--dark);
  color: var(--light-brown);
  margin-top: 20px;
}

.contact-section ul li {
  display: inline-block;
  padding-left: 50px;
}

.contact-section ul li a {
  color: var(--light-brown);
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  header nav {
    flex-direction: column;
  }
  .about-me-section {
    flex-direction: column;
  }
  .work-cards {
    flex-direction: column;
    justify-content: center;
  }
}
